/* google font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Open+Sans&family=Poppins:wght@500&display=swap');
body{
    
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
/* top banner */
.container {
    width: 80%;
    margin: auto;
}

.top-banner{
    display: flex;
    background-color: #fff;
    background: #161616;
    border-radius: 30px;
    color: #fff;
    align-items: flex-end;
    margin-top: 50px;
}

.banner-img img {
    width: 90%;
    margin-bottom: -7px;
}
.banner-img{
    width: 50%;
}

.banner-article {
    width: 40%;
    padding: 30px 0 120px 100px;
}

.banner-article h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 30px;
}

.banner-article p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;

}

.button {
    text-decoration: none;
    color: #fff;
    background: rgb(12, 31, 206);
    transition: transform ,0.5s;
    border-radius: 10px;
    padding: 15px 30px;


}
.button:hover {
    box-shadow: 2px 2px 15px red;
    background-color: seagreen;
    transform: scale(2);
}
/* Top banner*/

/* blog start */

.blogs-section {
    display: flex;
    margin-top: 100px;
}

.blog-img {
    margin-bottom: 16px;
}

.blogs-info {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}
.blog-info h3 {
    color: #161616;
    font-size: 17px;
    font-weight: 600;
    padding-left: 14px;
}

.blog-info a {
    text-decoration: none;
    border: 1px solid #333;
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 10px;
    margin-left: 15px;
}
.blog-info span {
    margin-left: 17px;
}
/* upcoming start */
.upcoming-section {
    width: 25%;
    background-color: #161616;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-right: 2%;
    margin-top: 1%;
}

.upcoming-section a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #161616;
    background-color: #fff;
    margin: 20px;
    padding: 16px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.upcoming-section .active {
    background-color: rgb(12, 31, 206);
    color: #fff;
}
/* upcoming end */

/* Blog end */

/* Match */

.matches-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;

}

.match {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.match-text p {
    color: #4D4D4D;
    font-size: 16px;
    line-height: .5em;
}

.match-img {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-evenly;
}

.match-img h2 {
    color: #161616;
    font-size: 16px;
    font-weight: 700;
}

.match-text {
    text-align: center;
}

/* Match */

/* Footer */
footer {
    margin-top: 95px;
    padding: 90px 0;
    background-color: #161616;
}
footer h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
footer a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
}

footer ul {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Footer */


